* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgb(0, 0, 0) 5%, rgb(78, 78, 78) 55%, rgb(153, 153, 153) 90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: inherit;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
    text-decoration: underline;
}

img,
picture,
video,
iframe,
svg {
    display: block;
    width: 100%;
}

svg {
    color: currentColor;
}

form,
input,
label,
select,
option,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    display: block;
    width: 100%;
    background-color: transparent;
}

/* FIN RESET*/

/* Carga de tipografías en el css */
@font-face {
    font-family: "Abel";
    src: url('../Tipografias/Abel/Abel-Regular.ttf')
}

/* Estilos del CV */

.main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    font-family: "Abel";
    width: 80%;
    margin: 15vh auto 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    color: whitesmoke;
}

/* Estilo del título principal */
.main-h2 {
    font-size: 1.5em;
    padding: 1rem 0;
}

/* Estilo del subtítulo */
.main-h3 {
    font-size: 1.3em;
    padding: .5rem 0;
}
/* Estilo de la lista */
.main-li {
    font-size: 1em;
    line-height: 1.5;
}

/* Estilos del footer */
.footer {
    width: 100%;
    height: 8vh;
}

.footer-marquesina {
    width: 100%;
    margin: 5vh auto;
    overflow: hidden;
}
/* Estilos para la animación del footer con marquesina */
.footer-slide {
    width: 200%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    animation: slide 10s linear infinite;
}

.footer-texto {
    width: 500px;
    font-family: "Funnel Display", sans-serif;
    text-align: center;
    font-size: 1rem;
    color: white;
}

/* formatos extra grandes (ordenadores, 1200px para arriba) */
@media (min-width: 1200px) {
    .main-wrapper {
        margin: 20vh auto 100px;
    }

    .main-h2 {
        font-size: 1.5vw;
    }

    .main-h3 {
        font-size: 1.3vw;
    }

    .main-li {
        font-size: 1.2vw;
    }

}

/* Gran formato (ordenadores, hasta 1200px )*/
@media (max-width: 1200px) {}

/* Formato normal (ordenadores, hasta 992px ) */
@media (max-width: 992px) {
    .main-h3 {
        font-size: 1.2em;
    }

    .main-li {
        font-size: 1em;
    }
}

/* Formato medio (tablets, hasta 768px) */
@media (max-width: 768px) {
    .main-h3 {
        font-size: 1.3em;
    }

    .main-li {
        font-size: 1em;
    }
}

/* Formato pequeño (móviles, 567px hacia abajo) */
@media (max-width: 576px) {
    .main-h2 {
        font-size: 1.2em;
    }

    .main-h3 {
        font-size: 1em;
    }

    .main-li {
        font-size: .8em;
    }
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}
